*{
    padding: 0;
    margin: 0;
}
.logo{
    background-color:#cccccc;
    padding: 2%;
}
.logo >p{
    font-size: 28px;
    font-weight: bolder;
}
.links{
    background-color: black;
    color: #fff;
}
ul{
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
}
li{
    float: left;
    border-right:1px solid #bbb;
    text-align: center;
    border-right: 1px solid white;
    padding: 15px 10px;
}
li a{
    /* display: block; */
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    padding: 15px 10px;
}
li:hover{
    background-color: green;
}
.content{
    display: flex;
    width: 100%;
    line-height: 1.3;
}
.main_container{
    padding: 3% 2% 0 4%;
    width: 75%;
    height: 100%;
    
}
.side_container{
    background-color: #e0e0e0;
    width: 25%;
    padding: 2%;
}
h1,h3{
    color: #003d60;
}
.footer{
    background-color: #cccccc;
    padding: 2%;
}
.footer >p{
    float:right;
}

